:root {
    --primary-color: #2ed573;
    --section-bg: #2f3542;
    --dark-pc: #229e56;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }

  #fouth-section{
    height: 100vh;
    width: 100vw;
    background-color: darkgrey;
  }