:root {
  --primary-color: #2ed573;
  --section-bg: #2f3542;
  --dark-pc: #229e56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

#third-section {
  height: 30vmax;
  width: 100%;
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 5% 0;
  position: relative;
  overflow: hidden;
}

#section3-heading {
  display: flex;
  align-items: flex-start;
}

#section3-heading p {
  font-size: 4vmax;
  font-weight: 700;
}

#section3-des {
  font-size: 1.3vmax;
  word-spacing: 0.5vmin;
  color: #bec0c4;
}

#section3-skills {
  height: 12vmax;
  width: 40vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}

.skill {
  height: 12.5vmax;
  width: 9vmax;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  text-align: center;
  font-size: 1.5vmax;
  padding: 0.5%;
}

.skill img {
  height: 7.5vmax;
}
