:root {
  --primary-color: #2ed573;
  --section-bg: #2f3542;
  --dark-pc: #229e56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-family: "roboto", sans-serif;
}

#first-section {
  width: 100vw;
  height: 80vh;
  background-color: var(--section-bg);
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 10vmax;
  width: 100vw;
  height: 10vmin;
  z-index: 1000;
  padding-bottom: 2vw;
}

#nav img {
  width: 10vmax;
}

#nav-text {
  display: flex;
  gap: 5vw;
}

#nav a {
  font-weight: 300;
  font-size: 1.2vmax;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
  padding-bottom: 0.5vw;
}

#nav a::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 0.1vw;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.2s;
}

#nav-text a:hover::after {
  width: 100%;
}

#nav-text a.active {
  color: var(--primary-color);
}

#nav-text a.active::after {
  width: 100%;
}

#nav i {
  display: none;
}

#main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70%;
  margin-top: 10vmin;
  padding: 0 8vmax;
}

#right-div-s1 {
  position: relative;
  width: 35vw;
  height: 28vw;
}

#right-div-s1 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 35vw;
  height: 28vw;
}

#left-div-s1 {
  width: 35vmax;
  height: 28vmax;
  padding: 5vmax 3vmax;
}

#profile-name {
  font-size: 1.2vmax;
  font-weight: 400;
  color: var(--dark-pc);
  letter-spacing: 1.5px;
  width: 60%;
}

#name {
  font-size: 3.5vmax;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 7%;
  width: 60%;
}

#ld-detailed-section {
  color: #7f899ec3;
  font-size: 1.5vmax;
  margin-bottom: 14%;
  width: 75%;
}

#button {
  width: 10vmax;
  padding: 10px 2vw;
  background-color: var(--dark-pc);
  text-align: center;
  cursor: default;
  user-select: none;
  font-size: 1vmax;
}

/* Mobile first */
@media (max-width: 480px) {
  #nav-text {
    display: none;
  }
  #nav i {
    display: inline;
    font-size: 7vw;
  }
  #right-div-s1 {
    display: none;
  }
  #nav,
  #main-section {
    padding: 0 3vmax;
  }
}

@media (max-width: 800px) {
  #first-section {
    height: 65vmax;
  }
  #nav a {
    font-size: 2vmax;
  }
  #left-div-s1 {
    width: fit-content;
    height: fit-content;
  }
  #profile-name {
    font-size: 2.2vmax;
    width: 100%;
  }
  #name {
    font-size: 4.5vmax;
    width: 100%;
  }
  #ld-detailed-section {
    font-size: 2.5vmax;
    width: 100%;
  }
  #button {
    width: 17vmax;
    font-size: 2vmax;
    padding: 1.5vmax 0;
  }
  /* #right-div-s1 {
    display: none;
  } */
  #nav,
  #main-section {
    padding: 0 3vmax;
  }
}
